//============================================= OC-06 FiS!!EyE =======//
// _GLOBAL ===========================================================//
//==================================== By Neah =================2024==//
@use "../base/colors";
@use "../base/typo";

body {
    font-family: typo.$fontDefault;
    margin: 0;
    background: colors.$backgroundSite;
}

h1 {
    color: colors.$colorTypoWhite;
    margin-right: 100px;
}