//============================================= OC-06 FiS!!EyE =======//
// _HOME =============================================================//
//==================================== By Neah =================2024==//
@use "../base/colors";

h1 {
    color: colors.$colorTypoWhite;
    margin-right: 100px;
}


main{
    flex-grow:1;
}


.artist {
    &--name {
      color : colors.$colorMain;
    }
    &--city {
      margin: 0px;
      justify-self: center;
      color: colors.$colorMain;
      font-size: 13px;
    }
    &--tagline {
      justify-self: center;
      color: colors.$colorTypoBlack;
      font-size: 10px;
    }
    &--price {
      margin: 0px;
      justify-self: center;
      color: colors.$colorTypoGrey;
      font-size: 9px;
    }
  }
  