//============================================= OC-06 FiS!!EyE =======//
// COLORS ============================================================//
//==================================== By Neah =================2024==//

// Variable Colors ---------------------------------------------------//
$backgroundSite: #ffffff !default;
$backgroundFooter: #353535 !default;
$backgroundGlobalElement: #9356dc !default;
// Variable Main ------------------------------------------------------//
$colorMain : #901C1C;
$colorSecondary : #901C1C;
$colorTernary : #901C1C;