//============================================= OC-06 FiS!!EyE =======//
// TYPO ==============================================================//
//==================================== By Neah =================2023==//

@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");

$fontSizeDefault : 1.0rem;
$fontSizeTitle : 1.2rem;
$fontDefault : "DM Sans", sans-serif;


p{
  font-family: $fontSizeDefault;
}