//============================================= OC-06 FiS!!EyE =======//
// FORM ==============================================================//
//==================================== By Neah =================2024==//
@use "../base/colors";

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;


 label {
    color: #312E2E;
    font-size: 36px;
}

 div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

 input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

select{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: colors.$colorMain;
    color: colors.$colorTypoWhite;

    option{
        &:nth-child(odd) {
            background-color: #F0F0F0;
        }

        &:nth-child(even) {
            background-color: #E0E0E0;
        }
    }

}

 textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
}

 button {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    background-color: #D87D4A;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}


}