//============================================= OC-06 FiS!!EyE =======//
// _ARTIST ===========================================================//
//==================================== By Neah =================2024==//
@use "../base/colors";

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: colors.$colorGreyBackground;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: colors.$colorTypoWhite;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: colors.$colorMain;
    border-radius: 5px;
    cursor: pointer;
}