//============================================= OC-06 FiS!!EyE =======//
// _GLOBAL ===========================================================//
//==================================== By Neah =================2024==//
@use "../base/colors";
@use "../base/typo";

:root {
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: typo.$fontDefault;
    margin: 0;
    min-height:100vh;
    background: colors.$backgroundSite;
    // DARL MODE & LIGHT MODE 
    //color: light-dark(colors.$backgroundSiteLight, colors.$backgroundSiteDark);
    //background-color: light-dark(colors.$backgroundSiteLight, colors.$backgroundSiteDark);

    
}

.modal-silent{
  overflow: hidden;
}

main    {
 margin-bottom: 50px;
}
